.jumbotron {
  margin-bottom: 0;
  background-image: url("images/lion.jpg");
  background-size: cover;
  min-height: 270px;
  background-position: center;
}

.centerText {
  text-align: center;
}

.btn-from {
  width: 100%;
}

.button-margin {
  margin-top: 20px;
}

body {
  background-color: #eee;
}
