<!-- clients.vtl -->
<h2>All clients</h2>


      <ul>
        #foreach($client in $clients)
            <li><a href="/stylist/$stylist.getId()/clients/$client.getId()">$client.getName()</li></a>
        #end
      </ul>
<!-- clients.vtl -->
