<!--index.vtl-->
<h1>The Lion's Mane</h1>
<a href="/stylists/new"><button type="button" name="button" class="btn-success btn">Add Stylist</button></a>
<a href="/stylists"><button type="button" name="button" class="btn-success btn">All Stylists</button></a>
<button type="button" name="button" class="btn-success btn">All Clients</button>
<!--index.vtl-->
