<!-- stylist.vtl -->
<h3>$stylists.getName()</h3>


<a href="/stylists/$stylists.getId()/clients/new"><button type="button" name="button" class="btn-success btn">Add Client</button></a>
<!-- stylist.vtl -->
